
@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
// @import url('fa/font-awesome.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: John Gibby @thatgibbyguy || Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */


/* ==|== Custom LESS Variables ===================================================== */

/* ==|== Custom LESS Helpers ===================================================== */

.headlines{  }
.subhead{  }
.bodycopy{  }

.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @genericMobile{
}

@media @genericPhablet{
}

@media @genericPhone{ 
}

